# Genel
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/
*.user
*.suo

# .NET
bin/
obj/
TestResults/

# Flutter / Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/

# Secrets
appsettings.Development.json
.env

